{#
/**
 * Block Name: GC Gutenberg block for text and image
 *
 * Gutenberg block voor het tonen van Call To Action (CTA)
 */
#}

{% if is_preview %}
  <style type="text/css">
    #imgtext-{{ block.id }} {
      margin-top: 0;
      overflow: hidden;
      border: 3px dashed #dadada;
    }
  </style>
{% endif %}


<div class="{{ textimage.cssclass }}" id="imgtext-{{ block.id }}">

  {% if textimage.text %}

    <div class="l-section-content">

      {% if textimage.image %}
        {{ textimage.image }}
      {% endif %}

      <div class="text-image__text">
        {{ textimage.text }}
      </div>

    </div>

  {% else %}
    <small style="background: black; color: white;">Voeg een plaatje en tekst toe.</small>
  {% endif %}

</div>
