{% if is_preview %}
  <style type="text/css">
    #events-{{ block.id }}  {
      overflow: hidden;
      border: 3px dashed #dadada;
    }

    #events-{{ block.id }} .section {
      margin-top: 2rem;
    }

    #events-{{ block.id }} .grid {
      font-size: 16px !important;
      margin-top: 0;
      overflow: hidden;
    }

    #events-{{ block.id }} .card__title {
      font-size: 22px;
      line-height: 1.2;
    }

    #events-{{ block.id }} .card__description {
      font-size: 16px;
    }

    #events-{{ block.id }} .card {
      max-width: 48% !important;
      flex: 0 1 48%;
      padding: 0;
    }

    #events-{{ block.id }} .grid {
      flex-direction: row;
      display: flex;
    }
  </style>

<div id="events-{{ block.id }}">


  {% endif %}

  {% set headerlevel = 'h2' %}

  {% if events.items or events.title or events.description %}

    <section
      class="section {{ events.type_block ? events.type_block : 'section–overview' }}{{ events.columncounter ? ' l-item-count-' ~ events.columncounter : '' }}{{ events.modifier ? ' section--' ~ events.modifier }}"{% if id %} id="{{ id }}"{% endif %}>

      {# Wrapper for section intro #}

      {% if events.title or events.description %}
        <div class="l-section-top">

          {% if events.title %}
            {% set headerlevel = 'h3' %}
            <h2 class="section__title">
              {{ events.title }}
            </h2>
          {% endif %}

          {% if events.description %}
            <p class="section__description">
              {{ events.description }}
            </p>
          {% endif %}

          {% if events.cta_url and events.cta_title %}
            <p class="l-cta-wrapper">
              <a class="btn btn--primary" href="{{ events.cta_url }}">{{ events.cta_title }}</a>
            </p>
          {% endif %}

        </div>
      {% endif %}

      {# Wrapper for all section content #}
      <div class="l-section-content">

        <div class="grid grid--col-{{ is_preview ? '2' : events.columncounter }}">

          {% for card in events.items %}

            {% include 'components/card.html.twig' with {
              'title': card.title,
              'headerlevel': headerlevel,
              'descr' : card.descr,
              'img' : card.img,
              'type' : card.type,
              'tip_nummer' : card.tip_nummer,
              'category' : card.category,
              'toptip' : card.toptip,
              'toptiptekst' : card.toptiptekst,
              'url': is_preview ? '#' : card.url,
              'start_date': ( card.start_date ?? '' ),
              'end_date': ( card.end_date ?? '' ),
              'post_date': ( card.post_date ?? '' ),
              'meta': card.meta,
            } %}

          {% endfor %}

        </div>


      </div>
    </section>
  {% else %}

    {% if is_preview %}
      <p>Geen events. Deze tekst is alleen zichtbaar in de editor.</p>
    {% endif %}

  {% endif %}

  {% if is_preview %}
</div>
{% endif %}
