{% if is_preview %}
  <style type="text/css">
    #related-{{ block.id }} .grid {
      font-size: 16px !important;
      margin-top: 0;
      overflow: hidden;
      border: 3px dashed #dadada;
    }
    #related-{{ block.id }} .card__title {
      font-size: 22px;
      line-height: 1.2;
    }
    #related-{{ block.id }} .card__description {
      font-size: 16px;
    }
    #related-{{ block.id }} .card {
      max-width: 48% !important;
      flex: 0 1 48%;
      padding: 0;
    }
    #related-{{ block.id }} .grid {
      flex-direction: row;
      display: flex;
    }
  </style>

<div id="related-{{ block.id }}">


{% endif %}

{% set headerlevel = 'h2' %}


<section
  class="section section--related{{ related.columncounter ? ' l-item-count-' ~ related.columncounter : '' }}{{ modifier ? ' section--' ~ modifier }}"{% if id %} id="{{ id }}"{% endif %}>

  {# Wrapper for section intro #}

  {% if related.title or related.description %}
    <div class="l-section-top">

      {% if related.title %}

        {% set headerlevel = 'h3' %}

        <h2 class="section__title">
          {{ related.title }}
        </h2>
      {% endif %}

      {% if related.description %}
        <p class="section__description">
          {{ related.description }}
        </p>
      {% endif %}

    </div>
  {% endif %}

  {# Wrapper for all section content #}
  <div class="l-section-content">

    {% if related.items %}

      <div class="grid grid--col-{{ is_preview ? '2' : related.columncounter }}">

        {% for card in related.items %}

          {% include 'components/card.html.twig' with {
            'title': card.title,
            'headerlevel': headerlevel,

            'descr' : card.descr,
            'img' : card.img,
            'type' : card.type,
            'nr' : card.nr,
            'category' : card.category,
            'toptip' : card.toptip,
            'toptiptekst' : card.toptiptekst,
            'url': is_preview ? '#' : card.url,
            'start_date': ( card.start_date ?? '' ),
            'end_date': ( card.end_date ?? '' ),
            'post_date': ( card.post_date ?? '' ),
            'meta': card.meta,
          } %}

        {% endfor %}
      </div>

    {% else %}
      <small style="background: black; color: white;">Selecteer gerelateerde content, zoals berichten of
        pagina's</small>
    {% endif %}


  </div>
</section>

{% if is_preview %}
</div>
{% endif %}
