<section class="author author--box{{ post.author.meta('auteursfoto_url') ? ' l-with-image' }}" itemprop="author"
         itemscope="itemscope" itemtype="http://schema.org/Person">

    {% if post.author.meta('auteursfoto_url') %}
        <figure class="author__picture">
            <img src="{{ post.author.meta('auteursfoto_url')|resize(300,300) }}"
                 alt="{{ _x('Profile picture', 'authorbox', 'gctheme') }} {{ post.author.name }}">
        </figure>
    {% endif %}

    {% if post.author.meta('auteursfoto_url') %}
    <div class="author__content">{% endif %}

        <h2 class="author_title">
            <a class="arrow-link" href="{{ function( 'get_author_posts_url', post.author.ID ) }}">
        <span class="arrow-link__text"><span
                    class="visually-hidden">{{ _x('About', 'authorbox', 'gctheme') }}</span>{{ post.author.name }}</span>
            </a>
        </h2>
        {% if post.author.meta('functiebeschrijving') is not empty %}
            <span class="meta-data__item">{{ post.author.meta('functiebeschrijving') }}</span>
        {% endif %}

        {% if post.author.description is not empty %}
            <p class="author__description">{{ post.author.description }}</p>
        {% endif %}

        {% if post.author.meta('publiek_telefoonnummer') is not empty or
            post.author.meta('publiek_mailadres') is not empty or
            post.author.meta('linkedin') is not empty or
            post.author.meta('twitter') is not empty or
            post.author.meta('facebook') is not empty %}

            <div class="author__contact-info">
                {% if post.author.meta('publiek_telefoonnummer') is not empty %}
                    <a class="link link--contact link--phone"
                       href="tel:{{ post.author.meta('publiek_telefoonnummer') }}">{% include 'partial/icon.html.twig' with {'icon': 'phone'} %}{{ post.author.meta('publiek_telefoonnummer') }}</a>
                {% endif %}
                {% if post.author.meta('publiek_mailadres') is not empty %}
                    <a class="link link--contact link--email"
                       href="mailto:{{ post.author.meta('publiek_mailadres') }}">{% include 'partial/icon.html.twig' with {'icon': 'mail'} %}{{ post.author.meta('publiek_mailadres') }}</a>
                {% endif %}

                <ul class="social-links">
                    {% if post.author.meta('linkedin') is not empty %}
                        <li class="social-links__item">
                            <a href="{{ post.author.meta('linkedin') }}" class="link--social linkedin">
                                {{ __('LinkedIn profile of %s', 'gctheme')|format(post.author.name) }}
                            </a>
                        </li>
                    {% endif %}
                    {% if post.author.meta('twitter') is not empty %}
                        <li class="social-links__item">
                            <a href="{{ post.author.meta('twitter') }}" class="link--social twitter">
                                {{ __('Twitter account of %s', 'gctheme')|format(post.author.name) }}
                            </a>
                        </li>
                    {% endif %}
                    {% if post.author.meta('facebook') is not empty %}
                        <li class="social-links__item">
                            <a href="{{ post.author.meta('facebook') }}" class="link--social facebook">
                                {{ __('Facebook profile of %s', 'gctheme')|format(post.author.name) }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if post.author.meta('auteursfoto_url') %}</div>{% endif %}
</section>
