
<section class="section section--related{{ cards ? ' l-item-count-' ~ cards|length : '' }}{{ modifier ? ' section--' ~ modifier }}"{% if id %} id="{{ id }}"{% endif %}>

  {# Wrapper for section intro #}
  {% if title or description %}
  <div class="l-section-top">

    {% if title %}
      <h2 class="section__title">
      {{ title }}
      </h2>
    {% endif %}

    {% if description %}
    <p class="section__description">
      {{ description }}
    </p>
    {% endif %}
  </div>
  {% endif %}

  {# Wrapper for all section content #}
  <div class="l-section-content">

    {% if items %}
      <div class="grid grid--col-{{ items|length }}">

        {% for card in items %}
          {% include 'components/card.html.twig' with {
            'title' : card.title,
            'descr' : card.descr,
            'img' : card.img,
            'type' : card.type,
            'url': card.url,
            'meta': card.meta,
          } %}
        {% endfor %}
      </div>

    {% endif %}

  </div>
</section>

