{% extends 'sections/section-overview.html.twig' %}

{% block preview_top %}

{% if is_preview %}
  <style type="text/css">
      #events-{{ block.id }} {
          overflow: hidden;
          border: 3px dashed #dadada;
      }

      #events-{{ block.id }} .section {
          margin-top: 2rem;
      }

      #events-{{ block.id }} .grid {
          font-size: 16px !important;
          margin-top: 0;
          overflow: hidden;
      }

      #events-{{ block.id }} .card__title {
          font-size: 22px;
          line-height: 1.2;
      }

      #events-{{ block.id }} .card__description {
          font-size: 16px;
      }

      #events-{{ block.id }} .card {
          max-width: 48% !important;
          flex: 0 1 48%;
          padding: 0;
      }

      #events-{{ block.id }} .grid {
          flex-direction: row;
          display: flex;
      }
  </style>


<div id="events-{{ block.id }}">

  {% endif %}
  {% endblock %}


  {% block top %}

    {% if title or cta.url or cta.title %}

      <div class="l-section-top">
        {% if title %}
          <h2 class="section__title">
            {{ title }}
          </h2>
        {% endif %}

        {% if cta.url or cta.title %}

          <a class="btn btn--primary" href="{{ cta.url }}">{{ cta.title }}</a>
        {% endif %}
      </div>
    {% endif %}

  {% endblock %}


  {% block bottom %}

  {% endblock %}


  {% block preview_bottom %}

  {% if is_preview %}
</div>

  {% endif %}

{% endblock %}