{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }} page--type-overview page--overview-archive" data-template="base.twig">


<div class="site-container">

  <ul id="{{ skiplinks_id }}">
    <li><a href="#{{ maincontent_id }}">{{ maincontent_id_linktext }}</a></li>
    {% if menu %}
      <li><a href="#{{ mainnav_id }}">{{ mainnav_id_linktext }}</a></li>
    {% endif %}
  </ul>

  <header class="page-header">

    <div class="l-header-top">
      {% include "partial/header-branding.twig" %}
      {% include "header-searchform.twig" %}
    </div>

    {% include "menu.twig" with {'items': menu.get_items} %}

  </header>

  {{ function('insert_breadcrumb') }}


  <div class="page-content" id="maincontent" tabindex="-1">
    <main class="content">


{% block content %}
<article class="entry entry--type-overview entry--full">

  <div class="entry-content">

  {% block archive_intro %}

    <div class="page__intro">
      <header class="entry-header">
        <h1 class="entry-title">{{ title }}</h1>
      </header>

      {% if descr %}
        <p class="archive__descr">
          {{ descr }}
        </p>
      {% endif %}
    </div>

  {% endblock %}


  {% block archive_overview %}
    {% if posts and overview is empty %}

    <article class="section section--overview-list l-item-count-3">
      <div class="l-section-content">
        <div class="overview overview--list">

        {% for post in items %}

          {% include 'components/teaser.html.twig' with {
            'title' : post.title,
            'headerlevel' : 'h3',
            'descr' : post.preview,
            'img' : post.thumbnail,
            'type' : post.type,
            'meta': post.meta,
            'category': post.category,
            'post_date': ( post.post_date ?? '' ),
            'url': post.path
          } %}
        {% endfor %}
        </div>
      </div>
    </article>

    {% elseif overview %}

      {% include 'sections/section-overview.html.twig' with {
        'title': overview.title,
        'items': overview.items,
        'template' : overview.template ? overview.template : 'card',
        'modifier' : overview.modifier ? overview.modifier
      } %}
    {% endif %}

  {% endblock %}

  {% block pagination %}

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

  {% endblock %}

  </div>
  </article>
{% endblock %}
    </main>
  </div>


  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
