{#
display tipgever info or
#}

{% extends "archive.twig" %}

{% block archive_intro %}

  {% if author %}

    <section class="author author--full {{ author.image ? 'l-with-image' : 'l-without-image' }}">

      {% if author.image %}
        <figure class="author__image">
          <img src="{{ author.image }}" class="author-photo photo avatar" alt="{{ author.title }}">
        </figure>
      {% endif %}

      <div class="author__content">
        <div class="l-author-header">
          <h1 class="page__title">{{ author.title }}</h1>
          {% if author.function %}
            <div class="author__function">{{ author.function }}</div>
          {% endif %}
        </div>

        {% if author.descr %}

          {{ author.descr }}

        {% endif %}

        {% if author.contact %}

          <div class="author__contact-info">

            {% for key, link in author.contact %}
              {% set url = link %}

              {% if key == 'email' %}
                {% set url = 'mailto:' ~ link %}
                {% set title = 'E-mail adres' %}
                {% set icon = 'mail' %}
                {% set iconTitle = 'Icoon envelop' %}
              {% elseif key == 'phone' %}
                {% set url = 'tel:' ~ link %}
                {% set title = 'Telefoonnummer' %}
                {% set icon = key %}
                {% set iconTitle = 'Icoon telefoon' %}
              {% endif %}

              <a href="{{ url }}" class="link link--contact link--{{ key }}"
                 title="{{ title }} van {{ author.title }}">

                {% include 'partial/icon.html.twig' with {
                  'icon': icon,
                  'alt': iconTitle,
                } %}

                {{ link }}</a>

            {% endfor %}

          </div>

        {% endif %}

        {% if author.social %}

          <ul class="social-links">
            {% if author.social.linkedin %}
              <li class="social-links__item">
                <a href="{{ author.social.linkedin }}"
                   class="link link--social linkedin">{{ author.social.linkedin.linktext }}</a>
              </li>
            {% endif %}
            {% if author.social.twitter %}
              <li class="social-links__item">
                <a href="{{ author.social.twitter }}" class="link link--social twitter"
                   title="Twitter van Gebruiker Centraal Auteur">Twitter
                  van Gebruiker Centraal Auteur</a></li>
            {% endif %}
            {% if author.social.satansboek %}
              <li class="social-links__item">
                <a href="{{ author.social.satansboek }}" class="link link--social facebook"
                   title="Facebook van Gebruiker Centraal Auteur">Facebook
                  van Gebruiker Centraal Auteur</a></li>
            {% endif %}
          </ul>

        {% endif %}
      </div>

    </section>

  {% endif %}

{% endblock %}


{% block archive_overview %}

  <div class="archive__posts">

    {% set headerlevelcard = 'h2' %}

    {% if overview.title %}
      {% set headerlevelcard = 'h3' %}
      <h2 class="section__title">{{ overview.title }}</h2>
    {% endif %}

    {% block archive_posts %}

      <div class="grid grid--{{ overview.modifier ? overview.modifier : 'col-3' }}">
        {% for post in overview.items %}

          {% set cat = '' %}

          {% set template = post.post_type == 'tips' ? 'card--tipkaart' : 'card' %}

          {% for term in post.terms %}
            {% if term.taxonomy == 'tipthema' %}
              {% set cat = term.name|lower %}
            {% endif %}
          {% endfor %}

          {% include 'components/'~ template ~'.html.twig' with {
            'title': post.post_title,
            'tip_nummer': post.tip_nummer,
            'category': post.cat,
            'toptip': post.toptip,
            'toptiptekst': post.toptiptekst,
            'headerlevel': headerlevelcard,
            'url': post.url
          } %}

        {% endfor %}

      </div>

    {% endblock %}

  </div>
{% endblock %}
