{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }} page--type-author" data-template="base.twig">


<div class="site-container">

  <ul id="{{ skiplinks_id }}">
    <li><a href="#{{ maincontent_id }}">{{ maincontent_id_linktext }}</a></li>
    {% if menu %}
      <li><a href="#{{ mainnav_id }}">{{ mainnav_id_linktext }}</a></li>
    {% endif %}
  </ul>

  <header class="page-header">

    <div class="l-header-top">
      {% include "partial/header-branding.twig" %}
      {% include "header-searchform.twig" %}
      {% include "partial/header-mobile-button.twig" %}
    </div>

    {% include "menu.twig" with {'items': menu.get_items} %}

  </header>

  {{ function('insert_breadcrumb') }}

  {{ dump(author) }}
  <div class="page-content" id="maincontent" tabindex="-1">
    <main class="content">
      {% block archive_intro %}
      <section class="author author--full l-with-image" itemprop="author" itemtype="http://schema.org/Person">
        {% if author.auteursfoto_url %}
        <figure class="author__image">
          <img src="{{author.auteursfoto_url}}" class="author-photo photo avatar" alt="Gebruiker Centraal Auteur">
        </figure>
        {% endif %}
        <div class="author__content">
          <div class="l-author-header">
            <h1 class="page__title">{{author.display_name}}</h1>
            {% if author.functiebeschrijving %}
            <div class="meta-data">
              <dl class="meta-data__list">
                <dt class="visually-hidden">Functie</dt>
                <dd class="meta-data__item functie">{{author.functiebeschrijving}}</dd>
              </dl>
            </div>
            {% endif %}
          </div>
          <div class="author__contact-info">
            <a href="tel:123456789" class="link link--contact link--phone" title="Phone number van " itemprop="phone">06-12345678</a>
            <a href="mailto:info@gebruikercentraal.nl" class="link link--contact link--email" title="E-mail adres van Mariska Woudenberg" itemprop="email">info@gebruikercentraal.nl</a>

            <ul class="social-links">
              <li class="social-links__item">
                <a href="#" class="link link--social linkedin" title="Linked-In profiel van ">Linked-In
                  profiel van </a></li>
              <li class="social-links__item">
                <a href="#" class="link link--social twitter" title="Twitter van ">Twitter
                  van </a></li>
              <li class="social-links__item">
                <a href="#" class="link link--social facebook" title="Facebook van ">Facebook
                  van </a></li>
            </ul>
          </div>
        </div>
      </section>
      {% endblock %}
      <section class="section section--overview section--bg-option">
        <div class="l-section-top">
          {% if descr %}
          <h2 class="section__title">
              {{ descr }}
          </h2>
          {% endif %}
        </div>
        <div class="l-section-content">


          <div class="grid grid--col-2">
            {% for post in items %}
              {% include 'components/card--type-blog.html.twig' with {
                'title' : post.title,
                'headerlevel' : 'h3',
                'descr' : post.descr,
                'img' : post.img,
                'type' : post.type,
                'meta': post.meta,
                'category': post.category,
                'post_date': ( post.post_date ?? '' ),
                'url': post.url
              } %}
            {% endfor %}













        </div>
      </section>


      {% block content %}
        <article class="entry entry--type-overview entry--full">

          <div class="entry-content">




            {% block archive_overview %}
        <article class="section section--overview-list l-item-count-3">
          <div class="l-section-content">
            <div class="overview overview--list">

            </div>
          </div>
        </article>
            {% endblock %}

            {% block pagination %}

              {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

            {% endblock %}


      {% endblock %}
    </main>
  </div>


  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
