{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">

<div class="site-container">

    <ul id="skiplinks">
        <li><a href="#maincontent">{{ __( 'Direct naar belangrijkste content', 'gctheme' ) }}</a></li>
        {% if menu %}
            <li><a href="#mainnav">{{ __( 'Direct naar hoofdnavigatie', 'gctheme' ) }}</a></li>
        {% endif %}
    </ul>


    <header class="page-header">

        <div class="l-header-top">

            <div class="branding">
                <a href="{{ site.url }}" class="branding__home-link{{ site.description ? ' branding--with-slogan' }}">
                    <img src="{{ logo ? logo : 'logo.svg' }}" alt="{{ site_name }} Logo" class="branding__logo">
                    <span class="branding__name">{{ site_name ? site_name : 'Gebruiker Centraal' }}</span>
                    {% if site.description %}
                        <span class="branding__slogan">{{ site.description }} </span>
                    {% endif %}
                </a>
            </div>

            <div class="widget-area header-widget-area">
                <form tabindex="-1" id="zoeken" class="search-form" method="get" action="{{ site.url }}"
                      role="search"><label class="search-form-label screen-reader-text" for="searchform-1">Voer een
                        trefwoord in om te zoeken op de site</label><input class="search-form-input" type="search"
                                                                           name="s"
                                                                           id="searchform-1"
                                                                           placeholder="Zoeken..."><input
                            class="search-form-submit" type="submit" value="Zoek">
                    <meta content="{{ site.url }}/?s={s}">
                </form>
            </div>

        </div>

        {% include "menu.twig" with {'items': menu.get_items} %}

    </header>

  {{ function('insert_breadcrumb') }}

  <div class="page-content" id="maincontent" tabindex="-1">

    <main class="content">



        {% block content %}
          Sorry, no content
        {% endblock %}


    </main>
  </div>



    {% block footer %}
        <footer id="footer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    {% endblock %}
</div>

</body>
</html>
