{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">

<div class="site-container">

  <ul id="{{ skiplinks_id }}">
    <li><a href="#{{ maincontent_id }}">{{ maincontent_id_linktext }}</a></li>
    {% if menu %}
      <li><a href="#{{ mainnav_id }}">{{ mainnav_id_linktext }}</a></li>
    {% endif %}
  </ul>

  <header class="page-header">

    <div class="l-header-top">
      {% include "partial/header-branding.twig" %}
      {% include "header-searchform.twig" %}
    </div>

    {% include "menu.twig" with {'items': menu.get_items} %}

  </header>

  {{ function('insert_breadcrumb') }}

  <div class="page-content" id="maincontent">
    {% if post.thumbnail.src %}
    <div class="l-hero">

      <picture class="image image--hero">
        <source srcset="{{ post.thumbnail.src|resize(1000) }} 1x" media="(max-width: 800px)" type="image/jpeg">
        <source srcset="{{ post.thumbnail.src|resize(1600) }} 1.5x" media="(min-width: 800px)" type="image/jpeg">

        <img src="{{ post.thumbnail.src}}" alt="{{ post.thumbnail.alt}}">
      </picture>
    </div>
    {% endif %}

    <main class="content" id="{{ maincontent_id }}">
      {% block content %}
        Sorry, no content
      {% endblock %}

    </main>


    {% if spotlight %}
      {% include 'sections/section-spotlight.html.twig' with {
        'items': spotlight,
        'modifier': 'bg-option',
      } %}
    {% endif %}


    {% block page_bottom %}

    {% endblock %}
  </div>

  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
