<li class="comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">

	<div class="comment-body">
    <div class="comment-author vcard">
      <cite class="fn">{{comment.author.name}}</cite>
      <span class="says">{{ __('Says:', 'gctheme') }}</span>
    </div>
    <div class="comment-content">
      {{comment.comment_content|wpautop}}
    </div>
    <div class="comment-meta commentmetadata">{{comment.date}}
      <div class="reply">
        <a rel="nofollow" class="comment-reply-link" href="#" data-commentid="{{comment.ID}}" data-belowelement="#" data-respondelement="respond" aria-label="Antwoord Haas Ontwerp">{{ __('React to this comment', 'gctheme') }}</a>
      </div>

    </div>


	</div>
  {% if comment.children %}
  <ul class="children">
      {% for child_comment in comment.children %}
        {% include 'comment-reply.twig' with { comment:child_comment } %}
      {% endfor %}
  </ul>
  {% endif %}
</li>


