<div class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">{{ __('Add comment', 'gctheme') }}<small></small></h3>
    <form class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
      <p class="comment-form-comment"><label for="comment">{{ __('Comment', 'gctheme') }}</label><textarea id="comment" placeholder="{{ __('Leave a comment...', 'gctheme') }}" name="comment" cols="45" rows="8" required="" aria-required="true"></textarea></p>
      {% if  user %}
        <input type="hidden" name="email" value="{{ user.email }}">
        <input type="hidden" name="author" value="{{ user.name }}">
        <input type="hidden" name="url" value="{{ user.link }}">
      {% else %}
        <p class="comment-form author"><label for="author">{{ __('Name', 'gctheme') }}</label> <input id="author" name="author" type="text" value="" size="30" required="" aria-required="true"></p>
        <p class="comment-form email"><label for="email">{{ __('Email', 'gctheme') }}</label> <input id="email" name="email" type="email" value="" size="30" required="" aria-required="true"></p>
      {% endif %}
      <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="{{ __('Send', 'gctheme') }}">
          <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
          <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
        </p>

        <p>{{ __('Your comment will be revised by the site if needed.', 'gctheme') }}</p>
    </form>
</div>
