{% if menu %}
  <div class="l-header-nav" aria-hidden="false" id="mainnav">
    <nav id="menu-primary" class="main-menu" role="navigation">
      <ul id="mainnav" class="main-menu__list">
        {% for item in items %}
          {% if item.children %}
            <li class="main-menu__item main-menu__item--with-sub" aria-hidden="true">
          {% else %}
            <li class="main-menu__item">
          {% endif %}
          <a target="{{ item.target }}" href="{{ item.link }}"><span>{{ item.title }}</span></a>

          {% if item.children %}
            <!-- TODO tekxt aanpassen button -->
            <button class="main-menu__open-sub">TEXT</button>
          {% endif %}


          {% if item.children %}
            <ul class="main-menu__sublist">
              {% for child in item.children %}
                <li class="main-menu__item main-menu__item--sub">
                  <a href="{{ child.link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          </li>
        {% endfor %}
      </ul>
    </nav><!-- #nav -->
  </div>
{% endif %}
