{% if menu %}
  <div class="l-header-nav">
    <nav id="{{ mainnav_id }}" class="main-menu" role="navigation">
      <ul id="mainnav" class="main-menu__list">
        {% for item in items %}

          {% if item.target is empty %}
            {% set targetattr = '' %}
          {% else %}
            {% set targetattr = ' target="' ~ item.target ~ '"' %}
          {% endif %}

          {% set haspopup = '' %}

          {% if item.children %}
            {% set haspopup = ' aria-haspopup="true"' %}
            <li class="main-menu__item main-menu__item--with-sub">
          {% else %}
            <li class="main-menu__item">
          {% endif %}
          <a href="{{ item.link }}"{{ targetattr }}{{ haspopup }}><span>{{ item.title }}</span></a>

          {% if item.children %}
            <ul class="main-menu__sublist visuallyhidden" aria-expanded="false">
              {% for child in item.children %}
                <li class="main-menu__item main-menu__item--sub">
                  <a href="{{ child.link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          </li>
        {% endfor %}
      </ul>
    </nav><!-- #nav -->
  </div>
{% endif %}
