{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="page page--type-homepage site-id-{{ id }}">

<div class="site-container">

  <ul id="{{ skiplinks_id }}">
    <li><a href="#{{ maincontent_id }}">{{ maincontent_id_linktext }}</a></li>
    {% if menu %}
      <li><a href="#{{ mainnav_id }}">{{ mainnav_id_linktext }}</a></li>
    {% endif %}
  </ul>

  <header class="page-header">

    <div class="l-header-top">
      {% include "partial/header-branding.twig" %}
      {% include "header-searchform.twig" %}
    </div>

    {% include "menu.twig" with {'items': menu.get_items} %}

  </header>

  <div class="page-content" id="maincontent" tabindex="-1">

    <main class="content">

      <article class="entry entry--type-home entry--full">

        <div class="entry-content">

          <div class="page__intro">
            <header class="entry-header">
              <h1 class="entry-title">{{ post.title }}</h1>
            </header>

            {{ post.content }}

          </div>

          {# /page intro #}

          {% if related %}
          {% include 'sections/section-overview.html.twig' with {
            'items': related.items,
            'description': related.desc,
            'title': related.title,
            'template': 'card--tipkaart',
            'modifier': 'l-layout-4col'
          } %}

          {% endif %}

          {% if spotlight %}
            {% include 'sections/section-spotlight.html.twig' with {
              'items': spotlight,
              'modifier': 'bg-option',
            } %}
          {% endif %}

          {#actueel#}


          {% if actueel %}
          {% include 'sections/section-actual.html.twig' with {
            'items': actueel
          } %}

          {#regular #}
          {% set tb_items = {
            '1': {
              'title': 'Een workshop of evenement?',
              'descr': 'De instrumenten helpen je om de online dienstverlening van je organisatie te verbeteren. Gebruik, deel en vul aan!',
              'link_primary': 'Meer over workshops',
            } ,
            '2': {
              'title': 'Verschillende sets',
              'descr': 'Er zijn sets beschikbaar om het spel verder aan te vullen. Bijvoorbeeld de set inclusie. Met deze set vul je het spel aan met tips over inclusieve dienstverlening.',
              'link_primary': 'Bekijk de inclusieset',
            }
          } %}
          {% endif %}


        </div>
        {# /entry content #}
      </article>
    </main>
  </div>

  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
