{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="page page--type-homepage site-id-{{ id }}">

<div class="site-container">

  <ul id="{{ skiplinks_id }}">
    <li><a href="#{{ maincontent_id }}">{{ maincontent_id_linktext }}</a></li>
    {% if menu %}
      <li><a href="#{{ mainnav_id }}">{{ mainnav_id_linktext }}</a></li>
    {% endif %}
  </ul>

  <header class="page-header">

    <div class="l-header-top">
      {% include "partial/header-branding.twig" %}
      {% include "header-searchform.twig" %}
    </div>

    {% include "menu.twig" with {'items': menu.get_items} %}

  </header>

  <div class="page-content" id="maincontent" tabindex="-1">

    <main class="content">

      <article class="entry entry--type-home entry--full">

        <div class="entry-content">

          <div class="page__intro">
            <header class="entry-header">
              <h1 class="entry-title">{{ post.title }}</h1>
            </header>

            <hr>

            {{ post.content }}

            <hr>

          </div>

          {# /page intro #}

          {% if related %}
          {% include 'sections/section-overview.html.twig' with {
            'items': related.items,
            'description': related.desc,
            'title': related.title,
            'template': 'card--tipkaart',
            'modifier': 'l-layout-4col'
          } %}

          {% endif %}

          {% if spotlight %}
            {% include 'sections/section-spotlight.html.twig' with {
              'items': spotlight,
              'modifier': 'bg-option',
            } %}
          {% endif %}

          {#actueel#}


          {% if actueel %}
          {% include 'sections/section-actual.html.twig' with {
            'items': actueel
          } %}
          {% endif %}


          {% if teaserblocks %}
            {% include 'sections/section-text-block.html.twig' with {
              'items': teaserblocks.blocks,
              'modifier': 'l-bg-white' } %}
          {% endif %}

        </div>
        {# /entry content #}
      </article>
    </main>
  </div>

  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
