{% extends 'single.twig' %}


  {% block post_intro %}
<article
    class="post post--full post--type-overview {{ is_gutenberg == 'TRUE' ? 'post--gutenberg' : 'post--plain' }}{{ has_comments ? ' ' ~ 'l-has-comments' }}"
    id="post-{{ post.ID }}">

  <header class="post__header">
    <div class="post__intro">
      <h1 class="post__title">
        {{ post.title }}
      </h1>

      {{ post.intro }}
      {{ intro }}
    </div>

    <div class="post__body">
      {{ post.content }}
    </div>
  </header>
  {% endblock %}


  {% block post_body %}

  {{ overview['id'] }}

  {% if overview['items'] %}

  <div class="post__overview">

    <div class="grid grid--col-3">

  {% for item in overview['items']|slice(0, 5) %}

    {% include 'components/card.html.twig' with {
      'type': item['type'],
      'title': item['title'],
      'descr': item['descr'],
      'img': item['img']
    } %}

  {% endfor %}
      </div>
    </div>

  {% endif %}

{% endblock %}