{% extends 'single.twig' %}


  {% block post_intro %}
<article
    class="post post--full post--type-overview {{ is_gutenberg == 'TRUE' ? 'post--gutenberg' : 'post--plain' }}{{ has_comments ? ' ' ~ 'l-has-comments' }}"
    id="post-{{ post.ID }}">

  <header class="post__header">
    <div class="post__intro">
      <h1 class="post__title">
        {{ post.title }}
      </h1>

      {{ post.intro }}
      {{ intro }}
    </div>

    <div class="post__body">
      {{ post.content }}
    </div>
  </header>
  {% endblock %}


  {% block post_body %}

  {{ dump(overview) }}

{% endblock %}