{% extends "base.twig" %}

{% block content %}

  <article class="post post--full post--type-{{ post.post_type }}" id="post-{{ post.ID }}">


    <header class="post__header">
      <h1 class="page__title">{{ post.title }}</h1>
    </header>

    <section class="post__content">
      <div class="post__body">
        {{ post.content }}
      </div>

      {% if sitemap.pages %}
        <section class="section">
          <h2>{{ pagetitle }}</h2>
          <ul>
            {{ sitemap.pages }}
          </ul>
        </section>
      {% endif %}

      {% if sitemap.posts %}
        <section class="section">
          <h2>{{ posttitle }}</h2>
          <ul>
            {{ sitemap.posts }}
          </ul>
        </section>
      {% endif %}

      {% if sitemap.tipthema %}
        <section class="section">
          <h2>{{ tipthemastitle }}</h2>
          <ul>
            {% for item in sitemap.tipthema %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if sitemap.speelsets %}
        <section class="section">
          <h2>{{ tipspeelsettitle }}</h2>
          <ul>
            {% for item in sitemap.speelsets %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if sitemap.tipgevers %}
        <section class="section">
          <h2>{{ tipgeverstitle }}</h2>
          <ul>
            {% for item in sitemap.tipgevers %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </section>
  </article>


{% endblock %}
