{% extends "base.twig" %}

{% block content %}


    <article class="entry entry--full entry--type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <header class="entry-header">
          <span class="date-badge" itemprop="datePublished" content="{{ post.post_date|date('d-m-Y') }}">
            <span class="date-badge__day">{{ post.post_date|date('d') }}</span>
            <span class="date-badge__month">{{ post.post_date|date('M') }}</span>

      {% if post.post_date|date('Y') == "now"|date('Y') %}
        <span class="date-badge__year visually-hidden">{{ post.post_date|date('Y') }}</span>
      {% else %}
        <span class="date-badge__year">{{ post.post_date|date('Y') }}</span>
      {% endif %}

          </span>
          <h1 class="entry-title">
            {{ post.title }}
          </h1>
          <div class="meta-data">
            <dl class="meta-data__list">
              <dt class="visually-hidden">{{ __('Author', 'gctheme') }}</dt>
            <dd class="meta-data__item author">{{ post.author.name }}</dd>
            </dl>
          </div>
        </header>
        <div class="entry-content wrap">
          <div class="entry-body">
            {{ post.content }}
          </div>

          {% if post.author.meta('auteursfoto_url') is not empty %}
            {% include 'sections/section-authorbox.html.twig'%}
          {% endif %}

          <nav class="pagination">
            {% if post.prev %}
              <div class="pagination-previous alignleft"><a href="{{ post.prev.link }}" rel="prev" data-ol-has-click-handler="">{{ post.prev.title }}</a></div>
            {% endif %}
            {% if post.next %}
              <div class="pagination-next alignright"><a href="{{ post.next.link }}" rel="next" data-ol-has-click-handler="">{{ post.next.title }}</a></div>
            {% endif %}
          </nav>
        </div>

      {% if related %}
        {% include 'sections/section-related.html.twig' with {
          'title': related.title,
          'descr': related.desc,
          'items': related.items
        } %}
      {% endif %}

      {% if downloads %}
        {% include 'sections/section-downloads.html.twig' with {
          'title': downloads.title,
          'descr': downloads.desc,
          'items': downloads.items
        } %}
      {% endif %}

      {% if links %}
        {% include 'sections/section-links.html.twig' with {
          'section_title': links.title,
          'section_descr': links.desc,
          'items': links.items
        } %}
      {% endif %}


    </article>
  <!-- comment box -->

  <!-- comments -->

  {% if post.get_comment_count( ) > 0 or post.comment_status != "closed" %}
  <div id="comments" class="comments-area">
      {% if post.get_comment_count( ) > 0  %}
        <h3 class="comments-title">{{ _n('One comment', '%d comments', n)|format(post.get_comment_count( )) }} </h3>
        <ul class="comment-list">
          {% for cmt in post.comments %}
            {% include "comment.twig" with {comment:cmt} %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if post.comment_status != "closed" %}
        <!-- comment form -->
        {% include "comment-form.twig" %}
      {% endif %}
    </div>
  {% endif %}



  <!-- /content-wrapper -->
  {% endblock %}
