{% extends "base.twig" %}

{% block content %}

    <article class="entry entry--full entry--type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <header class="entry-header">
          <span class="date-badge" itemprop="datePublished" content="{{ post.date|date('d-m-Y') }}">
            <span class="date-badge__day">{{ post.date|date('d') }}</span>
            <span class="date-badge__month">{{ post.date|date('M') }}</span>
            <span class="date-badge__year visually-hidden">{{ post.date|date('y') }}</span>
          </span>
          <h1 class="entry-title">
            {{ post.title }}
          </h1>
          <div class="meta-data">
            <dl class="meta-data__list">
              <dt class="visually-hidden">{{ __('Author', 'gctheme') }}</dt>
            <dd class="meta-data__item author">{{ post.author.name }}</dd>
            </dl>
          </div>
        </header>
        <div class="entry-content wrap">
          <div class="entry-body">
            {{ post.content }}
          </div>
          <section class="author author--box l-with-image" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">

            <figure class="author__picture">
              <img src="{{ Image(post.author.meta('author_profile_image')).src }}" alt="Auteur">
            </figure>

            <div class="author__content">

              <h2 class="author_title">
                <a class="arrow-link" href="#">
                  <span class="arrow-link__text"><span class="visually-hidden">Over</span>Gebruiker Centraal Auteur</span>
                  <span class="arrow-link__icon" aria-hidden="true"></span>
                </a>
              </h2>

              <span class="meta-data__item">Adviseur online communicatie en analyse</span>

              <hr>

              <p>Sinds 2006 werkzaam voor ICTU. In diverse projecten gewerkt op gebied van de digitale overheid. Ik onderzoek
                en adviseer in het gebruiksvriendelijker en toegankelijker maken van websites, het verbeteren van de
                kwaliteit van de content en de inzet van social media.</p>

              <div class="author__contact-info">
                <a class="link link--contact link--phone" href="tel:0612345678">06 1234567</a>
                <a class="link link--contact link--email" href="mailto:info@gebruikercentraal.nl">info@gebruikercentraal.nl</a>

                <ul class="social-links">

                  <li class="social-links__item">
                    <a href="http://www.linkedin.com" class="link--social linkedin" title="LinkedIn-profiel van Gebruiker Centraal">
                      LinkedIn-profiel van Gebruiker Centraal</a></li>
                  <li class="social-links__item">
                    <a href="http://www.twitter.com" class="link--social twitter" title="Twitter van Gebruiker Centraal">
                      Twitter van Gebruiker Centraal</a></li>
                  <li class="social-links__item">
                    <a href="http://www.facebook.com" class="link--social facebook" title="Facebook van Gebruiker Centraal">
                      Facebook van Gebruiker Centraal</a></li>
                </ul>    </div>
            </div>
          </section>
          <nav class="pagination">
            {% if post.prev %}
              <div class="pagination-previous alignleft"><a href="{{ post.prev.link }}" rel="prev" data-ol-has-click-handler="">{{ post.prev.title }}</a></div>
            {% endif %}
            {% if post.next %}
              <div class="pagination-next alignright"><a href="{{ post.next.link }}" rel="next" data-ol-has-click-handler="">{{ post.next.title }}</a></div>
            {% endif %}
          </nav>
        </div>

      {% if related %}
        {% include 'sections/section-related.html.twig' with {
          'title': related.title,
          'descr': related.desc,
          'items': related.items
        } %}
      {% endif %}

      {% if downloads %}
        {% include 'sections/section-downloads.html.twig' with {
          'title': downloads.title,
          'descr': downloads.desc,
          'items': downloads.items
        } %}
      {% endif %}

      {% if links %}
        {% include 'sections/section-links.html.twig' with {
          'section_title': links.title,
          'section_descr': links.desc,
          'items': links.items
        } %}
      {% endif %}


    </article>
  <!-- comment box -->

  <!-- comments -->
    <div id="comments" class="comments-area">
      {% if post.get_comment_count( ) > 0  %}
        <h3 class="comments-title">{{ _n('One comment', '%d comments', n)|format(post.get_comment_count( )) }} </h3>
        <ul class="comment-list">
          {% for cmt in post.comments %}
            {% include "comment.twig" with {comment:cmt} %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if post.comment_status == "closed" %}
        <p>{{ _x('Comments for this post are closed.', 'comments', 'gctheme') }}</p>
      {% else %}
        <!-- comment form -->
        {% include "comment-form.twig" %}
      {% endif %}
    </div>



  <!-- /content-wrapper -->
  {% endblock %}
