{% extends "base.twig" %}

{% block content %}

    <article class="entry entry--full entry--type-{{ post.post_type }}" id="post-{{ post.ID }}">
      {% if post.thumbnail.src %}
        <div class="article-header-image">
          <img src="{{ post.thumbnail.src|resize(1200, 300) }}">
        </div>
      {% endif %}
        <header class="entry-header">
          <span class="date-badge" itemprop="datePublished" content="{{ post.date|date('d-m-Y') }}">
            <span class="date-badge__day">{{ post.date|date('d') }}</span>
            <span class="date-badge__month">{{ post.date|date('M') }}</span>
            <span class="date-badge__year visually-hidden">{{ post.date|date('y') }}</span>
          </span>
          <h1 class="entry-title">
            {{ post.title }}
          </h1>
          <div class="meta-data">
            <dl class="meta-data__list">
              <dt class="visually-hidden">{{ __('author', 'gctheme') }}</dt>
            <dd class="meta-data__item author">{{ post.author.name }}</dd>
            </dl>
          </div>
        </header>
      <section class="article-content">
        <div class="article-body">
          {{ post.content }}
        </div>
      </section>

      {% if related %}
        {% include 'sections/section-related.html.twig' with {
          'title': related.title,
          'descr': related.desc,
          'items': related.items
        } %}
      {% endif %}

      {% if downloads %}
        {% include 'sections/section-downloads.html.twig' with {
          'title': downloads.title,
          'descr': downloads.desc,
          'items': downloads.items
        } %}
      {% endif %}

      {% if links %}
        {% include 'sections/section-links.html.twig' with {
          'section_title': links.title,
          'section_descr': links.desc,
          'items': links.items
        } %}
      {% endif %}


    </article>
  <!-- comment box -->

  <!-- comments -->
    <div id="comments" class="comments-area">
      {% if post.get_comment_count( ) > 0  %}
        <h3 class="comments-title">{{ _n('One comment', '%d comments', n)|format(post.get_comment_count( )) }} </h3>
        <ul class="comment-list">
          {% for cmt in post.comments %}
            {% include "comment.twig" with {comment:cmt} %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if post.comment_status == "closed" %}
        <p>{{ _x('comments for this post are closed', 'comments', 'gctheme') }}</p>
      {% else %}
        <!-- comment form -->
        {% include "comment-form.twig" %}
      {% endif %}
    </div>



  <!-- /content-wrapper -->
  {% endblock %}
