<section class="teaser teaser--blog {{ post.get_field('hero_image') ? 'l-with-image' : 'l-without-image' }}" id="tease-{{ post.ID }}">
  <a class="teaser__link" href="{{post.link}}">
    {% if post.get_field('hero_image') %}
    <img src="{{ Image(post.meta('hero_image')).src|resize(200,200) }}" alt="{{ Image(post.meta('hero_image')).alt }}" class="teaser__image">
    {% endif %}
    <div class="l-teaser-content">
      <header class="teaser__header">
        <span class="date-badge" itemprop="datePublished" content="{{ post.date|date('d-m-Y') }}">
          <span class="date-badge__day">{{ post.date|date('d') }}</span>
          <span class="date-badge__month">{{ post.date|date('M') }}</span>
          <span class="date-badge__year visually-hidden">{{ post.date|date('y') }}</span>
        </span>
        <{{ headerlevelcard }} itemprop="name" class="teaser__title">
          <span class="arrow-link">
            <span class="arrow-link__text">{{ post.title }}</span><span class="arrow-link__icon" aria-hidden="true"></span>
          </span>
        </{{ headerlevelcard }}>
        <div class="meta-data">
          <dl class="meta-data__list">
            <dt class="visually-hidden">Auteur</dt>
            <dd class="meta-data__item auteur">{{ post.author }}</dd>
          </dl>
        </div>
      </header>
      <div class="teaser__description">
        {% if post.post_excerpt %}
          <p class="teaser__description">{{ post.post_excerpt }}</p>
        {% endif %}
      </div>
    </div>
  </a>
</section>
