<article class="teaser teaser--{{ post.post_type }} {{ post.thumbnail ? 'l-with-image' : 'l-without-image' }}"
         id="tease-{{ post.ID }}">
  <a href="{{ post.link }}" class="teaser__link">
    {% if post.get_thumbnail %}
      <figure class="teaser__image">
        <img src="{{ post.thumbnail.src }}" class="image image--thumbnail"/>
      </figure>
    {% endif %}

    <div class="l-teaser-content">


      <header class="teaser__header">
        <h3 class="teaser__title">
          <span class="arrow-link">
            <span class="arrow-link__text">{{ post.title }}</span>
            <span class="arrow-link__icon"></span>
        </span>
        </h3>

        {% if not post.author is empty %}

          {% set meta = {
            '1': {
              'title': 'Auteur',
              'descr': post.author
            }
          } %}

          {% include 'components/meta-data.html.twig' with {
            'items': meta
          } %}

        {% endif %}
      </header>

      {% if post.post_excerpt %}
        <p class="teaser__description">{{ post.post_excerpt }}</p>
      {% endif %}

    </div>
  </a>
</article>
