{% extends "base.twig" %}

{% block content %}

  <article class="entry entry--type-overview entry--full" id="post-{{ post.ID }}">

    <div class="entry-content">
      <div class="page__intro">
        <header class="entry-header">
          <h1 class="entry-title">{{ post.title }}</h1>
          {% if intro %}
            {{ intro }}
          {% endif %}
        </header>

        {% if post.content %}
          <div class="entry-body">
            {{ post.content }}
          </div>
        {% endif %}

      </div>
    </div>

    {% if tipkaarts %}
      {% if tipkaartsterms %}
        <div class="filter">
          <div class="wrapper filter">
            <div class="item--filter filter-active">
              <input type="checkbox" data-count="{{ tipkaarts|length }}" data-categorie="{{ __('All', 'gctheme') }}"
                     class="form-item--filter show-all filter-active" data-filter="all" id="allitems"/>
              <label for="allitems">Alle tipkaarten</label>
            </div>
            {% for item in tipkaartsterms %}
              <div class="item--filter {{ item.name|lower }}">
                <input type="checkbox" class="form-item--filter card-filter {{ item.name }}"
                       data-categorie="{{ item.name }}" data-count="{{ item.count }}"
                       data-filter="tipkaart--{{ item.name|lower }}" id="{{ item.name|lower }}"/>
                <label for="{{ item.name|lower }}">{{ item.name }} ({{ item.count }})</label>
              </div>

            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if tipkaarts %}

      {% include 'sections/section-overview.html.twig' with {
        'items': tipkaarts,
        'title': '',
        'template': 'card--tipkaart',
        'modifier': '4col',
        'extra_class': 'filter--cards',
        'filter' : true,
      } %}
    {% endif %}
    {% if tipgevers %}

      <div class="grid grid--col-3 grid--gutter-wide">

        {% for item in tipgevers.items %}
          {% include 'components/card--author.html.twig' with {
            'type': 'author',
            'title': item.title,
            'img': item.img,
            'function': item.function,
            'url': item.url,
            'headerlevel' : 'h2',
            'img_alt': item.img_alt
          } %}
        {% endfor %}
      </div>
    {% endif %}

  </article>

{% endblock %}

