{% if id is empty %}
  {% set id = '2' %}
{% endif %}

<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-manual site-id-{{ id }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': 'Hoe speel je het?',
    'links': ['Home', 'Het spel']} %}


  <div class="page-content" id="maincontent" tabindex="-1">


    <main class="l-manual">

      <div class="manual__intro">
        <header class="entry-header">
          <h1 class="entry-title">Hoe speel ik het?</h1>

          <p>Het spel wordt gespeeld in 8 stappen.<br>
            Lees per stap de beschrijving.</p>

          <a class="btn btn--download" href="#">Download de handleiding</a>
          <a class="btn btn--read-more" href="#">Bekijk de spelbegrippen</a>
        </header>

      </div>
      {# /page intro #}

      {% set manual_text_1 %}
        <p>Bespreek het doel dat de Organisator vooraf heeft gekozen voor het Optimaal Digitaal spel. Kijk of dit voor
          iedereen helder is geformuleerd.</p>

        <p>Schrijf het <strong>doel</strong> op een post-it en plak deze op het speelbord bij <strong>‘Doel’</strong>.
          Houd dit doel voortdurend voor ogen
          tijdens het spelen van het spel.</p>
      {% endset %}

      {% set manual_text_2 %}
        <p>De spelleider verdeelt de tipkaarten ongeveer gelijk onder de deelnemers.</p>

        <p><strong>Met elkaar</strong><br>
          Beoordeel elke tipkaart als volgt; om ons doel te bereiken moeten we deze tip:</p>

        <ul>
          <li><strong>Minder doen</strong> of stoppen</li>
          <li><strong>Blijven doen</strong> - doen we goed</li>
          <li><strong>Meer doen</strong> of ermee beginnen</li>
        </ul>

        <p>Denk hardop en discussieer. Maak 3 stapels op het speelbord. Twijfel je? Is de tipkaart niet van toepassing?
          Leg die tipkaart op het speelbord bij <strong>‘Leg weg’</strong>. Ga door tot niemand meer tipkaarten heeft.
        </p>

      {% endset %}

      {% set manual_text_3 %}
        <p>Leg de stapels tipkaarten van ‘Blijven doen’, ‘Minder doen’ en ‘Leg weg’ naast het bord (die doen niet meer
          mee). Leg de tipkaarten van <strong>‘Meer doen’</strong> op het speelbord zodat alle tipkaarten zichtbaar
          zijn.</p>

        <p><strong>Tegelijk</strong><br>
          Pak de tipkaart met de - voor jou - <strong>belangrijkste</strong> tip van het speelbord en leg die voor je
          neer. Geef een
          korte toelichting op je keuze.</p>

        <p><strong>Nog eens</strong><br>
          Elke deelnemer pakt een <strong>tweede</strong> tipkaart en geeft een toelichting.</p>

        <p><strong>En nog eens</strong><br>
          Elke deelnemer pakt nu een <strong>derde</strong> tipkaart en geeft toelichting. Iedereen heeft nu drie
          tipkaarten voor zich
          liggen.</p>
        </p>

      {% endset %}

      {% set manual_text_4 %}
        <p>Leg de tipkaarten die niet gekozen zijn naast het speelbord (die doen niet meer mee).</p>

        <p><strong>Tegelijk</strong><br>
          Pak bij je rechterbuur de tipkaart weg die jij het <strong>minst belangrijk</strong> vindt. Doe dit allemaal
          en motiveer je
          keuze. Leg de weggepakte tipkaarten op het speelbord bij ‘Leg weg’.</p>

        <p><strong>Nog eens</strong><br>
          Doe dit nog een keer, maar dan bij de linkerbuur. Iedereen heeft nog 1 tipkaart voor zich liggen.</p>

      {% endset %}

      {% set manual_text_5 %}
        <p><strong>Om de beurt</strong><br>
          Je mag - maar het hoeft niet - je eigen, overgebleven tipkaart ruilen met één tipkaart van de stapel <strong>‘Leg
            weg’</strong>.</p>

        <p>Leg uit waarom je wilt omruilen. Als de meeste spelers het ermee eens zijn mag je omruilen. Anders niet.</p>

      {% endset %}

      {% set manual_text_6 %}
        <p>Leg de tipkaarten van de stapel <strong>‘Leg weg’</strong> naast het speelbord (die doen niet meer mee). Pak
          allemaal een stapeltje <strong>post-its.</strong></p>

        <p><strong>Tegelijk</strong><br>
          Bedenk wat je morgen kunt doen - in het kader van jouw tipkaart - om het <strong>doel</strong> te bereiken.
          Maak je actie zo concreet mogelijk.</p>

        <ul>
          <li>Schrijf de <strong>actie</strong> op een post-it</li>
          <li><strong>Plak</strong> de post-it op de tipkaart</li>
          <li>Geef de tipkaart met de post-it naar <strong>links</strong> door</li>
        </ul>

        <p><strong>Nog eens</strong><br>
          Bedenk nu een actie bij de tipkaart die voor je ligt. Schrijf deze op een nieuwe post-it en plak deze op de
          tipkaart voor je. Geef de tipkaart weer door naar links.</p>

        <p>Ga door totdat iedereen de <strong>eigen tipkaart</strong> weer heeft.</p>
      {% endset %}

      {% set manual_text_7 %}
        <p><strong>Met elkaar</strong><br>
          Pak een post-it van je tipkaart. Schrijf het tipnummer erop en plak de post-it in het <strong>juiste
            vlak</strong> op het
          speelbord: hoeveel <strong>moeite</strong> kost het om deze actie uit te voeren (weinig of veel) en hoeveel
          effect heeft deze
          actie (weinig of veel)?</p>

        <p class="arrow">Bespreek met elkaar of dit de juiste plek is.</p>

        <p>Ga door totdat alle post-its op het speelbord geplakt zijn. </p>
      {% endset %}

      {% set manual_text_8 %}
        <p><strong>Met elkaar</strong><br>
          Beslis hoe jullie deze acties oppakken. Beginnen jullie bijvoorbeeld met de quick-wins (het vlak rechtsonder)?
          Komen de acties in een takenlijst? Of in een visiestuk?</p>

        <p>En beslis: <strong>Wie pakt de actie op? En hoe? En: wie gaat helpen?</strong></p>

        <p>Beslis samen wat er <strong>hierna</strong> moet gebeuren. Bijvoorbeeld een volgende bijeenkomst inplannen om
          de voortgang te
          bespreken? </p>
      {% endset %}

      {% set manual_items = {
        '1': {
          'title': 'Bepaal doel',
          'time': '5',
          'text': manual_text_1,
        },
        '2': {
          'title': 'Beoordeel snel',
          'time': '20',
          'text': manual_text_2,
        },
        '3': {
          'title': 'Kies zelf',
          'time': '15',
          'text': manual_text_3,
        },
        '4': {
          'title': 'Pak weg',
          'time': '15',
          'text': manual_text_4,
        },
        '5': {
          'title': 'Overweeg ruil',
          'time': '10',
          'text': manual_text_5,
        },
        '6': {
          'title': 'Bedenk actie',
          'time': '15',
          'text': manual_text_6,
        },
        '7': {
          'title': 'Prioriseer samen',
          'time': '20',
          'text': manual_text_7,
        },
        '8': {
          'title': 'Word eigenaar',
          'time': '20',
          'text': manual_text_8,
        }
      } %}

      {% set i = 0 %}

      <ol class="manual__list">

        {% for item in manual_items %}
          {% set i = i + 1 %}
          <li class="manual-item manual-item--item-{{ loop.index }}">
            <div class="manual-item__header">
              <span class="manual-item__time">{{ item.time }} minuten</span>
              <h2 class="manual-item__title">{{ item.title }}</h2>
            </div>

            <div class="manual-item__content">
              {{ item.text }}
            </div>

          </li>
        {% endfor %}

      </ol>
      {# /entry content #}
    </main>


    {% include 'sections/section-spotlight.html.twig' with {
      'items': {
        '1': {
          'title': 'Ook het spel spelen?',
          'descr': 'Met het spel wordt verassend snel doorgedrongen tot de kern. Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van je (digitale) dienstverlening start dus meteen.',
          'cta': {
            '1': {
              'title': 'Ook het spel spelen?'
            },
            '2': {
              'title': 'Print & play'
            }
          },
        }
      },
      'modifier': 'bg-option'
    } %}
  </div>

  {% include 'includes/footer.html.twig' %}
</div>
</body>