{% if title is empty %}
  {% set title = '?' %}
{% endif %}

{% set headerlevelcard = 'h2' %}

{% if headerlevel %}
  {% set headerlevelcard = headerlevel %}
{% endif %}


{% set styles = [
  'author',
  'author--card',
  img ? 'author--with-image' : 'author--no-image'

] %}

<div class="{{ styles|join(' ') }}">

  <div class="author__content">
    <{{ headerlevelcard }} class="author__title">
    <a href="{{ url }}">{{ title }}</a>
  </{{ headerlevelcard }}>

  <span class="author__function">{{ function }}</span>
</div>

<div class="card__image">
  {% if img is not empty %}
    <a href="{{ url }}" aria-hidden="true" tabindex="-1">
      <img src="{{ img }}" alt="{{ img_alt }}" class="image image--doelgroep">
    </a>
  {% endif %}
</div>

</div>
