{% set headerlevelcard = 'h2' %}

{% if headerlevel %}
  {% set headerlevelcard = headerlevel %}
{% endif %}


{% if type == 'tips' %}
  {% include 'components/card--tipkaart.html.twig' %}
{% else %}
  <div class="card{{ img ? ' card--with-image' : '' }}{{ type ? ' card--type-' ~ type : '' }}">
    {% if img is not empty %}
      <div class="card__image">
        {{ img }}
      </div>
    {% endif %}
    <div class="card__content">
      {% if type == 'event' %}
        {% include 'components/date-badge.html.twig' %}
      {% endif %}
      <{{ headerlevelcard }} class="card__title">
        <a class="arrow-link" href="{{ url }}">
          <span class="arrow-link__text">
            {{ title }}
          </span>
          <span class="arrow-link__icon"></span>
        </a>
      </{{ headerlevelcard }}>
      <p class="card__description">
        {{ descr }}
      </p>

      {% if meta %}
        {% include 'components/meta-data.html.twig' with {'items': meta} %}
      {% endif %}
    </div>
  </div>
{% endif %}
