{% set currentYear = "now"|date("Y") %}

{% if post_date %}
  {% set day = post_date|date('d') %}
  {% set month = post_date|date('M') %}
  {% set year = post_date|date('Y') %}
{% elseif start_date %}
  {% set day = start_date|date('d') %}
  {% set month = start_date|date('M') %}
  {% set year = start_date|date('Y') %}
{% endif %}


{% if currentYear != year %}
  {% set show_year = 'true' %}
{% endif %}


<time class="date-badge{{ show_year ? ' date-badge--with-year' }}" itemprop="datePublished"
      content="{{ day }} {{ month }} {{ year }}" datetime="{{ day }} {{ month }} {{ year }}">
  <span class="date-badge__day">{{ day }}</span>
  <span class="date-badge__month">{{ month }}</span>
  <span class="date-badge__year{{ show_year is empty ? ' visually-hidden' }}">{{ year }}</span>
</time>
