{% set currentYear = "now"|date("Y") %}
{% set dateteimeformat = "now"|date("c") %}
{% set itemprop_post = '' %}

{% if post_date %}
  {# dit moet een bericht zijn #}
  {% set day = post_date|date('d') %}
  {% set month = post_date|date('M') %}
  {% set month_full = post_date|date('F') %}
  {% set year = post_date|date('Y') %}
  {% set dateteimeformat = post_date|date("c") %}
  {% set itemprop_post = ' itemprop="datePublished"' %}
{% elseif start_date %}
  {# dit moet een event zijn #}
  {% set day = start_date|date('d') %}
  {% set month = start_date|date('M') %}
  {% set month_full = start_date|date('F') %}
  {% set year = start_date|date('Y') %}
  {% set dateteimeformat = start_date|date("c") %}
{% endif %}

{% set fullDate = day ~' '~ month_full ~ ' ' ~ year %}

{% if currentYear != year %}
  {% set show_year = 'true' %}
{% endif %}

<time class="date-badge{{ show_year ? ' date-badge--with-year' }}"{{ itemprop_post }}
      content="{{ fullDate }}" datetime="{{ dateteimeformat }}">
  <span class="date-badge__day">{{ day }}</span>
  <span class="date-badge__month">{{ month }}</span>
  <span class="date-badge__year{{ show_year is empty ? ' visually-hidden' }}">{{ year }}</span>
</time>
