{#
/** Download box
* Template for displaying a download
*
* Variables:
* - title: The title of the download
* - descr: Description
* - meta: arrat of metadata items (filetype, filesize)
*
* SCSS:
* - components/download-box.scss
*/
#}

<div class="download-box{{ descr ? ' download-box--with-descr' }}">
  <h3>{{ title }}</h3>

  {% if meta %}
    {% include 'components/meta-data.html.twig' with {'items': meta } %}
  {% endif %}

  {% if descr %}
    <p class="download__description">{{ descr|e('wp_kses_post') }}</p>
  {% endif %}

  {% if url %}
    <a href="{{ url|e('esc_url') }}" class="btn btn--download" download
       {% if aria_label %}aria-label="{{ aria_label|e('esc_html') }}"{% endif %}>{{ linktext|e('wp_kses_post') }}</a>
  {% endif %}
</div>
