{% set headerlevel = headerlevel ? headerlevel : 'h2' %}

{% set teaserClasses = [
  'teaser',
  type ? 'teaser--type-' ~ type : 'teaser-type--page',
  modifier ? ' teaser--' ~ modifier : '',
  img ? ' l-with-image' : ' l-without-image'
] %}

{% set current_year = "now"|date("Y") %}

{% if (start_date and start_date|date("Y") != current_year) or
  (end_date and end_date|date("Y") != current_year) or
  (post_date and post_date|date("Y") != current_year) %}
  {% set not_current_year = 'true' %}
{% endif %}

{% set classes = [
  'teaser',
  type ? 'teaser--type-' ~ type : 'teaser--type-page',
  img ? 'l-with-image' : 'l-without-image',
  not_current_year ? 'teaser--not-current' : '',
  modifier ? 'teaser--' ~ modifier: ''
] %}


<section
  class="{{ classes|join(' ')|trim(' ', side='right') }}">

  <header class="teaser__header{{ post_date or type=='event' ? ' teaser__header--with-badge' }}">

    <{{ headerlevel }} class="teaser__title">
    <a href="{{ url }}" class="link link--arrow">
      <span class="arrow-link__text">{{ title }}</span>
    </a>
  </{{ headerlevel }}>

  {% if type == 'event' %}
    {% include 'components/date-badge.html.twig' with {
      'start_date': start_date,
      'end_date': end_date,
    } %}

  {% elseif post_date %}
    {% include 'components/date-badge.html.twig' with {
      'post_date': post_date,
      'modifier': '',
    } %}
  {% endif %}

  {% if full %}
    <span class="label label--full">{{ full }}</span>
  {% endif %}

  {% if meta %}
    {% include 'components/meta-data.html.twig' with {'items': meta} %}
  {% endif %}
  </header>


  {% if img %}
    <a href="{{ url }}" class="link link--image" aria-hidden="true" tabindex="-1">
      <div class="teaser__image">
        {{ img }}
      </div>
    </a>
  {% endif %}

  {% if descr %}
    <div class="teaser__description">
      {{ descr }}
    </div>
  {% endif %}

</section>
